<h1>Locations</h1>
<ul>
	<% @locations.each do |location| %>
	<li> <%= location.name ? "#{location.name} - " : '' %> <%= location.city %></li>
	<li> <%= location.all.each do |location| %> 
		<% %>
		<% end %>
	</li>
	<% end %>
</ul>
